<%- include('./partials/head') %>
    <style>
        .section-details:nth-of-type(7n + 1) {
            grid-column: 1/-1;
        }
    </style>
    <article class="article-Item">
        <section class="section-details">
            <img src="<%= editItems.picture_Link %> " alt=""></a>
            <div class="div-Item">
                <h2>
                    <%= editItems.product_name %>
                </h2>
                <h2>
                    <%= editItems.price %>
                </h2>
            </div>
            <p>
                <%= editItems.company %>
            </p>
        </section>
    </article>


    <section class="addSeite">
        <h1>EDIT PRODUCT</h1>
        <div class="container">
            <form action="/editt/<%= editItems._id %>/edit" method="POST">
                <input type="text" name="product_name" placeholder="<%= editItems.product_name %>">
                <input type="text" name="picture_Link" placeholder="<%= editItems.picture_Link %>">
                <input type="text" name="company" placeholder="<%= editItems.company %>">
                <input type="text" name="price" placeholder="<%= editItems.price %>">
                <textarea name="description" id="" cols="30" rows="10"
                    placeholder="<%= editItems.description %>"></textarea>
                <input type="submit" value="Edit">

            </form>
        </div>
    </section>
    <%- include('./partials/foot') %>