<%- include('./partials/head') %>
    <style>
        .section-Item:nth-of-type(7n + 1) {
            grid-column: 1/-1;
        }
    </style>
    <article class="article-Item">
        <%newItems.forEach(element=> {%>
            <section class="section-Item">
                <a href="/details/<%= element._id %>"><img src="<%= element.picture_Link %> " alt=""></a>
                <div class="div-Item">
                    <h2>
                        <%= element.product_name %>
                    </h2>
                    <h2>
                        <%= element.price %>
                    </h2>
                </div>
                <p>
                    <%= element.company %>
                </p>
            </section>

            <%});%>
    </article>


    <%- include('./partials/foot') %>